@model IEnumerable<GestaoLogistica.ViewModels.LogAuditoria>

@{
    ViewData["Title"] = "Index";
}


   <h2> <button type="button" class="btn btn-info btn-lg btn-block">Log Auditoria</button> </h2>



<table  class="table table-dark table-hover table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DetalhesAuditoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DetalhesAuditoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailUsuario)
            </td>
           
        </tr>
}
    </tbody>
</table>
