@model GestaoLogistica.Models.ConferirCarga

@{
    ViewData["Title"] = "Create";
}




<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConferenteId" class="control-label"></label>
                <select asp-for="ConferenteId" class ="form-control" asp-items="ViewBag.ConferenteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoOperacao" class="control-label"></label>
                <select asp-for="TipoOperacao" class="form-control" asp-items="Html.GetEnumSelectList<TipoOperacao>()"></select>
                <span asp-validation-for="TipoOperacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datahora" class="control-label"></label>
                <input asp-for="Datahora" class="form-control" />
                <span asp-validation-for="Datahora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trasnportadora" class="control-label"></label>
                <input asp-for="Trasnportadora" class="form-control" />
                <span asp-validation-for="Trasnportadora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doca" class="control-label"></label>
                <input asp-for="Doca" class="form-control" />
                <span asp-validation-for="Doca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdCaixas" class="control-label"></label>
                <input asp-for="QtdCaixas" class="form-control" />
                <span asp-validation-for="QtdCaixas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-dark">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
